@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-[#030712] text-[#E2E8F0];
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-white font-bold;
  }

  /* Scrollbar tasarımı */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-[#0F172A];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#3B82F6]/60 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#3B82F6];
  }
}
